<h1>Added New Contact Info</h1>

  <ul>
    <li>@Model.GetName()</li>
    <li>@Model.GetPhoneNumber()</li>
    <li>@Model.GetAddress()</li>
  </ul>

    <form action="/display-contact" method="get">
      <button type="submit" name="display-contact">Display Contact Info</button>
    </form>
    >
