<h1>ADDRESS BOOK</h1>

<form action="/new-contact" method="get">
      <button type="submit" name="make-new-contact">Enter Contact</button>
</form>

<form action="/contact-display" mehtod="get">
  <button type="submit" name="display-contact">Display contacts</button>
</form>
